---
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortLoopsOnASingleLine: true
BreakConstructorInitializersBeforeComma: true
IndentCaseLabels: true
AlwaysBreakTemplateDeclarations: true
BreakBeforeBraces: Custom
BraceWrapping: 
  AfterClass: true
  AfterFunction: true
  AfterNamespace: false
...
